
  <>
    <!-- Inner Vertical Lines -->
    <div class="absolute top-[63%] hidden h-[60%] w-px lg:block left-[29%] opacity-50" style="background: linear-gradient(to bottom, transparent, #008b6c, transparent);"></div>
    <div class="absolute top-[63%] hidden h-[60%] w-px lg:block right-[29%] opacity-50" style="background: linear-gradient(to bottom, transparent, #008b6c, transparent);"></div>
  </>