  <>
    <!-- Primary Vertical Lines -->
    <div class="absolute top-0 hidden h-full w-px lg:block bg-linear-to-b left-0 from-gray-800 via-gray-700 to-transparent"></div>
    <div class="absolute top-0 hidden h-full w-px lg:block bg-linear-to-b right-0 from-gray-800 via-gray-700 to-transparent"></div>
    
    <!-- Secondary Vertical Lines -->
    <div class="absolute top-0 hidden h-full w-px lg:block bg-linear-to-b left-20 from-transparent via-gray-800 to-transparent opacity-50"></div>
    <div class="absolute top-0 hidden h-full w-px lg:block bg-linear-to-b right-20 from-transparent via-gray-800 to-transparent opacity-50"></div>
    
    <!-- Corner Decorations -->
    <div class="absolute h-16 w-16 border-gray-800 opacity-60 left-0 top-0 border-l-2 border-t-2"></div>
    <div class="absolute h-16 w-16 border-gray-800 opacity-60 right-0 top-0 border-r-2 border-t-2"></div>
    <div class="absolute h-16 w-16 border-gray-800 opacity-60 bottom-0 left-0 border-b-2 border-l-2"></div>
    <div class="absolute h-16 w-16 border-gray-800 opacity-60 bottom-0 right-0 border-b-2 border-r-2"></div>
  </>
