
  <>
    <!-- Inner Vertical Lines -->
    <div class="absolute top-0 hidden h-full w-px lg:block bg-linear-to-b left-110 from-transparent via-[#3a5f7d] to-transparent opacity-60"></div>
    <div class="absolute top-0 hidden h-full w-px lg:block bg-linear-to-b right-110 from-transparent via-[#3a5f7d] to-transparent opacity-60"></div>
    
    <!-- Left Edge Line -->
    <div class="fixed left-0 top-0 h-full w-px bg-linear-to-b from-[#1c2938] via-[#2d4a5e] to-transparent opacity-40"></div>
    
    <!-- Top Horizontal Line -->
    <div class="fixed left-0 top-0 h-px w-full bg-linear-to-r from-transparent via-[#1c2938] to-transparent"></div>
  </>