@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* ==================== 
   Global & BASE STYLES 
   ==================== */
html,
body {
	margin: 0;
	width: 100%;
	height: 100%;
}

/* ==================== 
    Scrollbar & Cursor
   ==================== */
/* * {
  scrollbar-width: auto;
  scrollbar-color: #888 transparent;
} */
/* body {
  cursor: url('/cursors/Pointer.ico'), default;
} */