@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* ==================== 
   Global & BASE STYLES 
   ==================== */
html,
body {
	margin: 0;
	width: 100%;
	height: 100%;
}

/* ==================== 
    Cursor & Scrollbar
   ==================== */
body {
  cursor: url('/cursors/Pointer.ico'), default;
}

a:hover,
button:hover,
input[type="submit"]:hover,
input[type="button"]:hover,
.custom-link:hover {
  cursor: url('/cursors/Link.ico'), pointer;
}

/* * {
  scrollbar-width: auto;
  scrollbar-color: #888 transparent;
} */