---
import GlowEffect from '@/components/ui/effects/GlowEffect.astro'
import Layout from '@/layouts/Layout.astro'
import Hero from '@/sections/home/Hero.astro'
import SocialLinks from '@/sections/home/SocialLinks.astro'
import YouTubeVideo from '@/sections/home/YouTubeVideo.astro'
---

<Layout>
  <main class="relative w-full max-w-2xl px-4 py-2 sm:px-6">
    <GlowEffect />
    <!--  -->
    <Hero />
    <YouTubeVideo />
    <SocialLinks />
    <!--  -->
  </main>
</Layout>

<style is:global>
  html {
    scrollbar-width: none;
    scrollbar-color: transparent transparent;
  }
</style>
