---
import Layout from '@/layouts/Layout.astro'
import Hero from '@/sections/home/Hero.astro'
import YouTubeVideo from '@/sections/home/YouTubeVideo.astro'
---

<Layout>
  <main class="relative w-full max-w-2xl px-4 py-2 sm:px-6">
    <Hero />
    <YouTubeVideo />
  </main>
</Layout>

<style is:global>
  html {
    scrollbar-width: none;
    scrollbar-color: transparent transparent;
  }
</style>
