---
import Layout from '@/layouts/Layout.astro'
import GlowEffect from '@/components/ui/effects/GlowEffect.astro'
import { Footer, Hero, Projects, SocialLinks, YouTubeVideo } from '@/sections/sections'
import { extensions } from '@/data/extensions'
---

<Layout
  title="Gohit X @gohitx | Software Engineer & Content Creator"
  description="Software Engineer from Peru specializing in mobile development. Open-source contributor and creator of VSCode extensions."
  lang="en"
  canonical="/"
  type="website"
  extensions={extensions}
>
  <main class="relative w-full max-w-2xl px-4 py-2 sm:px-6">
    <GlowEffect />
    <!--  -->
    <Hero />
    <YouTubeVideo />
    <SocialLinks />
    <Projects />
    <!--  -->
    <Footer />
  </main>
</Layout>

<style is:global>
  html {
    scrollbar-width: none;
    scrollbar-color: transparent transparent;
  }
</style>
