---
const currentYear = new Date().getFullYear()
---

<footer class="mt-8 mb-1 text-center text-xs text-gray-500 dark:text-gray-400">
  <p>&copy; {currentYear} Gohit X. All rights reserved.</p>
</footer>
