<div class="changing_light"></div>

<style>
  .changing_light {
    position: fixed;
    top: -40%;
    left: 50%;
    transform: translateX(-50%);
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    background: radial-gradient(circle 400px at 50% 300px, #4d4d4d36, transparent);
    transition: background 0.3s ease;
    pointer-events: none;
    z-index: 0;
  }
</style>
