---
import meImage from '@/assets/images/profile/me.webp'
import { GitHubIcon, TwitterIcon } from '../icons/icons'
---

<!-- Author Profile -->
<div class="mb-4">
  <div class="flex items-center gap-4">
    <div
      class="relative h-16 w-16 overflow-hidden rounded-full border-4 border-gray-300 shadow-xl ring-2 ring-gray-300 dark:border-gray-800 dark:ring-gray-800"
    >
      <img
        alt="Gohit Bastian Profile"
        class="h-full w-full object-cover"
        loading="eager"
        src={meImage.src}
      />
    </div>
    <div>
      <div class="text-xl font-semibold">Gohit Bastian</div>
      <div class="flex items-center gap-2 text-sm text-gray-400">
        <span>@gohitx</span>
        <div class="flex gap-1.5">
          <a
            href="https://twitter.com/gohitx"
            target="_blank"
            rel="noopener noreferrer"
            class="transition-colors hover:text-[#f84f00]"
          >
            <TwitterIcon className="h-4 w-4" />
          </a>
          <a
            href="https://github.com/gohitx"
            target="_blank"
            rel="noopener noreferrer"
            class="transition-colors hover:text-[#f84f00]"
          >
            <GitHubIcon className="h-4 w-4" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
